:root{ 
--cor-primaria:#88abce;
--cor-segundaria:#D4A373;
--cor-fundo:#E1ECF0;
--cor-texto:#CCD5AE;
--cor-contraste:#E8A598 ;
--cor-botao:#1a2730;
}
*{
    transition: background-color 0.8s ease;
}
.tema-escuro { 
--cor-primaria:#2C2A29 ;
--cor-segundaria:#5C3A21 ;
--cor-fundo:#8B7355 ;
--cor-texto:#3B472E ;
--cor-contraste:#6B2D26 ;
--cor-botao:#3D403A ;
}


header {
    background-color:var(--cor-primaria);
    color: var(--cor-botao);
    text-align: center;
    max-width: 800px;
    margin: 5px solid;
    padding: 16px;
    border: 5px solid var(--cor-fundo);
}

main {
    background-color:var(--cor-primaria);
    color: var(--cor-botao);
    max-width: 800px;
    margin: 5px solid;
    border: 5px solid var(--cor-fundo);
    padding: 16px;

}

article {
    display: flex;
    flex-direction: column.
}

img {
    width: 200px;
    height: 200px;
    border-radius: 15%
}

.autor {
    font-weight: bold;
} 
